<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--    <typeAliases>-->
<!--        <typeAlias type="com.korea.rest.dto.ProductDTO" alias="productDTO"/>-->
<!--        <typeAlias type="com.korea.rest.dto.OrderDTO" alias="orderDTO"/>-->
<!--        <typeAlias type="com.korea.rest.dto.OrderVO" alias="orderVO"/>-->
<!--    </typeAliases>-->
</configuration>